@{
    ViewData["Title"] = "Home";
}
<h1>CodeFellows Course Management Sysytem</h1>

<h3>To update or add a course <a asp-controller="Course" asp-action="Index">Click Here</a></h3>
<h3>To update or add a student <a asp-controller="Student" asp-action="Index">Click Here</a></h3>
